@import url(http://fonts.googleapis.com/css?family=Ubuntu:300italic,400italic,500,700);

.dropdown-content {
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  border: 1px solid #e0e0e0;
  color: #111;
  left: 0;
  margin-top: 8px;
  opacity: 0;
  padding: 8px 1em;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  transition: all 150ms;
  visibility: hidden;
  width: 200px;
  z-index: 1; }
  .dropdown-content:before,
  .dropdown-content:after {
    border: solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    left: 1.5em;
    pointer-events: none;
    position: absolute;
    width: 0; }
  .dropdown-content:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #e0e0e0;
    border-width: 7px;
    margin-left: -7px; }
  .dropdown-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: white;
    border-width: 6px;
    margin-left: -6px; }
  .dropdown-content li {
    font-size: 0.875em;
    list-style-type: none;
    margin: 0;
    padding: 8px 1em;
    transition: background-color 150ms;
    white-space: nowrap; }
    .dropdown-content li:hover {
      background-color: #a4a4a4;
    cursor: pointer;}



/* CUSTOMIZE STARTS FROM HERE */
/* BIRU-GOLDEN */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


h2, h3 {
    font-family: 'Ubuntu',sans-serif;
    color: ghostwhite;
    padding: 1rem;
}

h3.author {
    font-family: 'Ubuntu', sans-serif;
    color: ghostwhite;
padding-bottom: 0;
}

.author a {
    text-decoration: none;
    color: ghostwhite;
}

.author a:hover {
    color: darkgray;
}


#tandakutip {
display: none }

#kotakkutipan {
background-color: transparent;
}

.wrapper {
    position: absolute;
    margin:0;
    padding:0;
    min-height: 100vh;
    min-width: 100vw;
    overflow:hidden;
    background-color: #111;
}



#space, .stars {
  overflow: hidden;
  position: absolute;
  min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

#tombol
    { transition: all .2s ease-in-out; }

#tombol:hover{
    opacity: 0.7;
 transform: scale(1.1);
}

#sharebulat {
    border-color: #DD5E89;
    color: ghostwhite;
}


#sharebulat i:hover {
    color: #ccc;
    cursor: pointer;

}

#sharedepan {
    color: #111;
}

#pencetrefresh button {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
    
#pencetrefreshstyle6 {
    display: none;
}

#pencetrefresh >
.button--bordered {
border-color: ghostwhite;
background-color: transparent;
color: ghostwhite;
border-radius: 4rem;
}

#pencetrefresh >
.button--bordered:hover,
.button--bordered:focus {
    background-color: ghostwhite;
    color: #111; }

#catatan h4 {
    color:ghostwhite;
}

@media screen and (max-width: 480px) {

#kotakkutipan {
margin-left: .5rem;
margin-right: .5rem;
}
    
#catatan h4 {
    text-align: center!important;
    margin-top: .5rem;
}
    
#kutipan li h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    
}
}

@media screen and (max-width:
640px) {
#kotakkutipan {
margin-left: auto;
margin-right: auto;
}}

@media screen and (max-width: 768px) {
#catatan {
    display: none;
}}

@media screen and (max-height: 540px) {
	h2 {
		font-size: 1rem;
	}
	
	h3 {
		font-size: .8rem;
	}
}